@{
    ViewBag.Title = "Evaluación";
}

@section styles
{    
    <link href="~/Content/fonts/custom/fonts.css" rel="stylesheet" />
    <link href="~/Content/css/juego.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/js/juego.core.js"></script>
    <script type="text/javascript">
        function ViewModel() {
            var self = this;
            self.niveles = [1, 2, 3, 4];

            var casillero;
            var cronometro_interval_1, cronometro_interval_2;

            self.EstadoJuego = ko.observable(0);
            self.cronometro = ko.observable(0);
            self.cronometro_2 = ko.observable(0);
            self.NroJuego = ko.observable();
            //self.JuegoEnunciado = ko.observable();
            self.JuegoSolucion = ko.observable();
            self.nivelSeleccionado = ko.observable();
            self.PosicionesResolver = ko.observable();

            self.errores = ko.observable(0);

            self.NuevoJuego = function () {
                self.NroJuego(null);
                if (cronometro_interval_1) clearInterval(cronometro_interval_1);
                if (cronometro_interval_2) clearInterval(cronometro_interval_2);
                self.cronometro(0);
                self.cronometro_2(0);
                self.errores(0);
                
                if (self.nivelSeleccionado()) {
                    var t = self.nivelSeleccionado() + 1;
                    //casillero = Reto.CrearArreglo(t + 1);
                    //console.log(casillero);
                    Reto.CrearHtmlCasillas(2 * t + 1);
                    self.EstadoJuego(1);
                }
            }

            self.CambiarNivel = ko.computed(function () {
                self.NuevoJuego();
            });

            self.Empezar = function () {
                self.NroJuego(null);
                if (cronometro_interval_1) clearInterval(cronometro_interval_1);
                if (cronometro_interval_2) clearInterval(cronometro_interval_2);
                self.cronometro(0);
                self.cronometro_2(0);
                self.errores(0);
                
                $('.tabla').html('');
                var nivel = self.nivelSeleccionado();
                
                $.getJSON('@Url.Action("juego")', { Nivel: nivel }, function (result) {
                    self.NroJuego(result.Reto);
                    casillero = JSON.parse(result.Enunciado);
                    self.JuegoSolucion(JSON.parse(result.Solucion));
                    //console.log(result);
                    Reto.CrearHtmlCasillas(casillero.length);
                    Reto.LlenarCasillas(casillero);

                    self.EstadoJuego(2);

                    var empezar_cronometro = function () {
                        cronometro_interval_1 = setInterval(function () {
                            self.cronometro(self.cronometro() + 10);
                        }, 100);
                    }

                    empezar_cronometro();

                }).fail(function (xhr) {
                    toastr.warning('No existen plantillas registradas del Nivel ' + nivel, 'Atención');
                });
            }

            self.BloquearResponder = ko.observable(false);

            self.Responder = function () {
                //Reto.LlenarCasillas(casillero);
                //Reto.LlenarCasillasAzar(casillero);

                if (cronometro_interval_1) clearInterval(cronometro_interval_1);

                if (self.BloquearResponder()) return;
                self.BloquearResponder(true);

                var cont = 0;
                var intentos = setInterval(function () {

                    Reto.PintarCasillasAzar(self.JuegoSolucion(), casillero);
                    cont++;
                    if (cont == 10) {
                        clearInterval(intentos);

                        $('.respuestas .rpta').removeData('value');                        
                        //Pintamos las casillas que debe resolver
                        var pos = Reto.PintarCasillasAzar(self.JuegoSolucion(), casillero);
                        self.PosicionesResolver(pos);

                        $('.respuestas .rpta').html('');

                        self.BloquearResponder(false);
                        self.EstadoJuego(3);
                        
                        var empezar_cronometro_2 = function () {
                            cronometro_interval_2 = setInterval(function () {
                                self.cronometro_2(self.cronometro_2() + 10);
                            }, 100);
                        }

                        //Hacemmos una pausa antes de empezar y mostramos el cronometro
                        setTimeout(function () {
                           if(self.EstadoJuego() == 3) empezar_cronometro_2();
                        }, 1000);
                    }
                }, 150);

            }

            self.EnviarRepuestas = function () {
                clearInterval(cronometro_interval_2);

                var errores = [];

                $('.respuestas .rpta').each(function (index, el) {
                    if ($(this).data('value') != $(this).text()) {                        
                        errores.push(index);
                    }
                });
                
                self.EstadoJuego(4);
                self.errores(errores);

                if (errores.length == 0) {
                    //Formula: nota = (((nxn - d)+3)/t)*20
                    var d = 0;
                    for (var i = 0; i < casillero.length; i++) {
                        var fila = casillero[i].fila;
                        for (var j = 0; j < fila.length; j++) {
                            if (i % 2 == 0 && j % 2 == 0 && fila[j].col) {
                                d++;//Casillas llenas que se dan al usuario
                            }
                        }
                    }

                    var n = (casillero.length + 1) / 2;
                    var t = Math.round(self.cronometro()) / 100;

                    var nota = Math.round((((n * n - d) + 3) / t) * 20);

                    var params = {
                        //IdAlumno: 1,
                        IdJuego: self.NroJuego(),
                        Calificacion: nota,
                        Respuesta: $('.respuestas .rpta').text(),
                        TiempoSegundos: t
                    };

                    //console.log(params);

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/reto/GuardarScore")',
                        data: JSON.stringify({ score: params }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (result) {                            
                            if (result) {
                                //appMaster.MessageBox('Logrado', '<div class="text-center"><img src="@Url.Content("~/content/img/logrado.jpg")" /></div>');
                            } else {
                                toastr.info('Debes ingresar con perfil de alumno para poder registrar tu score');
                            }
                        }
                    });
                }
                //else {
                //    var message = '<table><td style="padding-right:10px;">{0}</td><td>{1}</td></table>';
                //    message = message.replace('{0}', '<i class="fa fa-warning fa-3x"></i>');
                //    message = message.replace('{1}', '¡Pronto tendrás una nueva oportunidad! Los que aceptan el reto nunca se rinden!!');
                //    appMaster.MessageBox(errores.length + ' errores', message);
                //}                
            }

            self.FormatearReloj = function (number) {
                var min = 0;
                var n = (number || 0) / 100;
                //console.log(n);
                if (n > 60) {
                    min = Math.floor(n / 60);
                    n = n % 60;
                }

                var cad = n.toString().split('.');
                var decimales = (cad.length == 2) ? cad[1] : 0;
                cad[0] = ('0' + cad[0]).slice(-2);
                decimales = ('0' + decimales).slice(-2);
                
                return min + ':' + cad[0] + '.' + decimales;
            }            

            self.Limpiar = function () {
                $('.tabla .q:not(.v):not(.h)').each(function (el, index) {
                    var casilla = $(this).find('.casilla');
                    casilla.removeClass('color error');
                    if (casilla.attr('contenteditable')) {
                        casilla.html('');
                    }
                });
            }

            self.Procesar = function () {
                Reto.Procesar();
            }
        }

        $(function () {
            var modelo = new ViewModel();
            ko.applyBindings(modelo);
        });
    </script>
}

<div class="text-center">
    <div class="well well-sm">
        <div class="btn-group" data-toggle="buttons">
            <button class="btn btn-default-outline">Nivel</button>
            <!--ko foreach: niveles-->
            <button class="btn btn-info" data-bind="click: function(){ $root.nivelSeleccionado($data) }, css: {'active': $data == $root.nivelSeleccionado()}, text: $data"></button>
            <!--/ko-->
        </div>
        <span class="visible-xs"><br /></span>
        <!--ko if: NroJuego-->
        <button type="button" class="btn btn-default" data-bind="click: NuevoJuego, visible: NroJuego"><i class="fa fa-table fa-fw"></i> Nuevo reto</button>
        @*<button type="button" class="btn btn-default" data-bind="click: Limpiar" title="Limpiar"><i class="fa fa-retweet fa-lg"></i></button>
        <button type="button" class="btn btn-default" data-bind="click: Procesar" title="Verificar"><i class="fa fa-check fa-lg"></i></button>*@
        <!--/ko-->
        <a href="~/" class="btn btn-danger" title="Salir"><i class="fa fa-sign-out fa-lg"></i></a>        
    </div>    
    <table class="formulario">
        <tbody>
            <tr>
                <td data-bind="visible: EstadoJuego() == 0">
                    <div style="padding:15px" class="text-justify">
                        <h1 class="text-center">Instrucciones</h1>
                        <p>La sección evaluación tiene como objetivo, entrenar tu mente de forma disciplinada, además de recoger información de tu constancia y perseverancia, anota estadísticas y proyecta tu éxito en los diferentes juegos o Reto del sistema.</p>
                        <p>Para iniciar la evaluación debes seguir estos pasos:</p>
                        <ol>
                            <li>Determina el nivel (de preferencia debes haber acabado un nivel inferior para pasar a otro superior)</li>
                            <li>Elige un tipo de Reto (juego)</li>
                        </ol>
                    </div>                    
                </td>
                <td class="text-center" style="position:relative; display:none;" data-bind="visible: EstadoJuego() > 0">                    
                    <div data-bind="visible: EstadoJuego() < 4">
                        <div class="reto-info" data-bind="visible: NroJuego, click: Empezar">Reto N° <span data-bind="text: NroJuego"></span></div>
                        <h1>EVALUACIÓN</h1>
                        <h4>Mayor - Menor</h4>
                        <table class="tabla"></table>
                        <br />
                        <div class="form-group">
                            <button type="button" class="btn btn-success" data-bind="click: Empezar, visible: EstadoJuego() == 1">Empezar</button>
                            <button type="button" class="btn btn-primary" data-bind="click: Responder, visible: EstadoJuego() == 2, disable: BloquearResponder">Responder</button>
                            <button type="button" class="btn btn-success" data-bind="click: EnviarRepuestas, visible: EstadoJuego() >= 3, disable: EstadoJuego() == 4">Enviar Repuestas</button>
                        </div>
                        <div class="respuestas" data-bind="visible: EstadoJuego() >= 3">
                            <div class="rpta yellow" data-color="yellow" data-bind="attr: { 'contenteditable' : EstadoJuego() == 3 }"></div>
                            <div class="rpta green" data-color="green" data-bind="attr: { 'contenteditable' : EstadoJuego() == 3 }"></div>
                            <div class="rpta blue" data-color="blue" data-bind="attr: { 'contenteditable' : EstadoJuego() == 3 }"></div>
                            <div class="rpta red" data-color="red" data-bind="attr: { 'contenteditable' : EstadoJuego() == 3 }"></div>
                        </div>
                    </div>
                    <!--ko if: EstadoJuego() == 4-->
                    <div class="text-center">
                        <!--ko if: errores().length == 0-->
                        <h1>Muy bien <span>@SessionHelper.Usuario.Nombres</span>!</h1>
                        <!--/ko-->
                        <h3>Resumen de Resultados</h3>
                        <!--ko if: errores().length > 0-->
                        <h4><span data-bind="text: errores().length"></span> Errores</h4>
                        <!--/ko-->
                        <div>Tiempo de resolución</div>
                        <div class="cronometro"><i class="fa fa-hourglass-2"></i><br /> <span data-bind="text: FormatearReloj(cronometro())"></span></div>                        
                        <br />
                        <div>Tiempo de reacción</div>
                        <div class="cronometro"><i class="fa fa-hourglass-2"></i><br /> <span data-bind="text: FormatearReloj(cronometro_2())"></span></div>                        
                        <br /><br />
                        <!--ko if: errores().length > 0-->
                        <h4>Pronto tendrás una nueva oportunidad</h4>
                        <!--/ko-->
                        <h3>¡Los que aceptan el reto, nunca se rinden!</h3>
                    </div>
                    <!--/ko-->
                </td>
                <td style="vertical-align: top; width: 150px; padding:2px; display: none;" data-bind="visible: EstadoJuego() > 0 && EstadoJuego() < 4">
                    <div class="cronometro"><i class="fa fa-hourglass-2"></i><br /> <span data-bind="text: FormatearReloj(cronometro())"></span></div>
                    <!--ko if: EstadoJuego() >= 3-->
                    <hr />
                    <div>Tiempo de reacción</div>
                    <div class="cronometro"><i class="fa fa-hourglass-2"></i><br /> <span data-bind="text: FormatearReloj(cronometro_2())"></span></div>
                    <!--/ko-->
                </td>               
            </tr>
        </tbody>
    </table>
</div>
