@{
    ViewBag.Title = "Lista de retos";
}

@section styles
{
    <style type="text/css">
        .reto { width: 150px; display: inline-block; margin: 0 5px 5px 0; padding:10px 10px; text-align:center; cursor: pointer; border:1px solid #ccc; }
        .reto .numero, .reto .nivel { display: block; }
        .reto .numero { font-size:1.5em; font-weight:bold; }
    </style>
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script>
        var model = function () {
            var self = this;
            self.lstItem = ko.observableArray();
            self.listar = function () {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("Listado")",
                    // data: ko.toJSON({ id: idJuego }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (datos) {
                        //console.log(datos);
                        var n = datos.map(function (x) { return x.Nivel; });
                        var niveles = [];
                        for (var i = 0; i < n.length; i++) {
                            if (ko.utils.arrayFirst(niveles, function (x) { return x.Nivel == n[i] }) == null) {
                                niveles.push({ Nivel: n[i] });
                            }
                        }

                        niveles.forEach(function (x) {
                            x.Items = datos.filter(function (item) { return item.Nivel == x.Nivel });                            
                        });

                        console.log(niveles);

                        self.lstItem(niveles);

                    }
                });
            }
        }

        $(function () {
            viewModel = new model();
            ko.applyBindings(viewModel);
            viewModel.listar();

        });
    </script>
}
<h1>Lista de retos</h1>
<hr />
<div>
    <i class="fa fa-cube fa-fw"></i> <a href="~/reto/mayor-menor">Nuevo reto</a>
</div>
<br />
<div class="lista-retos" data-bind="foreach:lstItem">
    <h3>Nivel <span data-bind="text: $data.Nivel"></span></h3>
    <!--ko foreach: Items-->
    <a class="reto" data-bind="attr: {href: '@Url.Action("mayor-menor")?id=' + $data.IdJuego}">
        <span class="numero" data-bind="text: 'Reto N° ' + $data.Reto"></span>        
        <span data-bind="text: (Nivel + 2) + ' x ' + (Nivel + 2)"></span>
    </a>
    <!--/ko-->
</div>


