
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<p>Se ha producido un error inesperado. Por favor intente nuevamente la operación o consulte con el administrador del sistema.</p>
<p><a href="~/elmah.axd">Ver errores con Elmah</a></p>

