@{
    ViewBag.Title = "Inicio";
}
@section styles
{
    <style type="text/css">
        .banner { width: 100%; }
    </style>
}

<h2 class="well well-sm">Bienvenido</h2>

<img class="banner" src="~/Content/img/mente_brillante.jpg" />
<br /><br />