@{
    ViewBag.Title = "Inicio";
}
@section styles
{
    <style type="text/css">
        .banner { width: 100%; }
    </style>
}

<h2 class="well well-sm">Bienvenido</h2>
<div>
    <a href="~/home/forzarerror">Forzar error - Elmah (Prueba)</a>
    <span style="margin:0 10px">|</span>
    <a href="~/elmah.axd">Ver errores con Elmah</a>
</div>
<br />
<img class="banner" src="~/Content/img/mente_brillante.jpg" />
<br /><br />