@{
    ViewBag.Title = "Inicio";
}
@section styles
{
    <style type="text/css">

    </style>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
<h1>@SessionHelper.Usuario.Nombres</h1>
<h3>¡Bienvenido a la Plataforma RETO!</h3>
@*<hr />
<div>
    <a href="~/home/forzarerror">Forzar error - Elmah (Prueba)</a>
    <span style="margin:0 10px">|</span>
    <a href="~/elmah.axd">Ver errores con Elmah</a>
</div>*@

