.registro { font-size: 13px; background-color: #fff; width: 100%; }
.registro td { border: 1px solid #ccc; text-align: center; position: relative; }
.registro h4, .registro h5 { text-align: center; }
.registro .alumno { text-align: left; padding: 5px; }
.registro .rotar { vertical-align: bottom; /*height: 200px;*/ width: 20px; font-size: 0.9em; overflow: hidden; text-transform: uppercase; }
.registro .rotar > * { display: inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; white-space: nowrap; transform: translate(0,0) rotate(-180deg); text-align: left; padding: 3px 0 20px 0; }
/*.registro .rotar { height: 200px; width: 20px; font-size: 0.8em; overflow: hidden; text-transform: uppercase; }
.registro .rotar > * { display: inline-block; white-space: nowrap; transform: translate(0,100%) rotate(-90deg); transform-origin: 0 0; width: 20px; height: 180px; line-height: 20px; }*/
/*.registro .rotar div:before { content: ""; float: left; margin-top: 100%; }*/
.registro .rotar.rotar-reverse > * { transform: translate(0,0) rotate(360deg); padding: 20px 0 3px 0; }
/*.registro .rotar.rotar-reverse div:before { margin: 0; margin-bottom: 100%; }*/
.registro .nota.flag { color: transparent !important; }
.registro .nota.flag:after { position: absolute; top: 50%; left: 50%; margin-left: -7px; margin-top: -7px; content: "\f024"; font: normal normal normal 14px/1 FontAwesome; }
.registro .nota.rojo.flag:after { color: #ff0000 !important; }
.registro .nota.amarillo.flag:after { color: #ffd800 !important; }
.registro .nota.verde.flag:after { color: #1fba18 !important; }
.registro .promedio { font-weight: bold; background-color: #f6f6f6; }
.registro .nota-final { background-color: #f4f4f4; font-weight: bold; }

.registro .panel-left { background-color:#eeeaea; text-align:left; text-transform:uppercase; }

table.alumnos tr td { cursor: pointer; user-select: none; }
table.alumnos tr.seleccionado td { background: #D83135; color: #fff; }
.registro .nota, .registro .promedio { padding: 5px; }
.historial { border: 2px solid #D83135; padding: 10px; position: relative; min-height: 320px; }
.aprendiz { padding-left: 100px; }
.historial .foto { position: absolute; top: -37px; left: 5px; width: 80px; }
.modal .registro { font-size: 0.8em; }
.modal .registro td { padding: 5px; }

@media print {
    .historial { border: 0; padding: 0; }
}
