@{
    ViewBag.Title = "Registro";
}

@section styles
{
    <style type="text/css">
        .formulario { max-width: 600px; margin: 0 auto; }
    </style>
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script type="text/javascript">
        function ViewModel() {
            var self = this;
            self.Pregunta = {
                IdPregunta: ko.observable(),
                Enunciado: ko.observable(),
                Solucion: ko.observable(),
                TipoResultado: ko.observable(),
                Puntuacion: ko.observable()
            }

            self.Guardar = function (form) {
                $.ajax({
                    type: 'POST',
                    url: $(form).attr('action'),
                    data: ko.toJSON({ objEN: self.Pregunta }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        self.Pregunta.IdPregunta(result);
                        toastr.info('Se ha registrado la pregunta');
                    }
                });
            }

            self.init = function () {
                var id = '@ViewBag.id';
                if (id) {
                    $.getJSON('@Url.Action("ObtenerPreguntaById")', { id: id }).done(function (result) {
                        //console.log(result.Solucion.split('\n'));
                        self.Pregunta.IdPregunta(id);
                        self.Pregunta.Enunciado(result.Enunciado);
                        self.Pregunta.Solucion(result.Solucion);
                        self.Pregunta.TipoResultado(result.TipoResultado);
                        self.Pregunta.Puntuacion(result.Puntuacion);
                    });
                }
            }
        }

        $(function () {
            var modelo = new ViewModel();
            ko.applyBindings(modelo);
            modelo.init();
        });
    </script>
}

<h2 class="text-center">Ingrese los datos de la pregunta</h2>

<form method="post" action="@Url.Action("Registro")" data-bind="submit: Guardar">
    <div class="formulario form-horizontal">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Enunciado:</label>
                    <div class="col-sm-9">
                        <textarea rows="4" class="form-control" name="Enunciado" data-bind="value: Pregunta.Enunciado" required></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Resultado:</label>
                    <div class="col-sm-9">
                        <textarea rows="4" class="form-control" name="Resultado" data-bind="value: Pregunta.Solucion" required></textarea>
                        <div class="help-block">Para ingresar múltiples resultados separe con enter (Una respuesta por línea)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tipo de resultado:</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="TipoResultado" data-bind="value: Pregunta.TipoResultado" required>
                            <option value="1">Texto</option>
                            <option value="2">Numérico</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Puntuación:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control textfield" name="Puntuacion" data-bind="value: Pregunta.Puntuacion" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3 text-right">                
                <a href="@Url.Action("gestionar")" class="pull-left btn btn-primary-outline">Listar</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                <a class="btn btn-default" href="~/preguntas/registro">Nuevo</a>
            </div>
        </div>
    </div>
</form>